<script lang="ts" setup>

</script>

<template>
  <nav>
    <ul>
      <li>
        <router-link to="/">Home</router-link>
      </li>
      <li>
        <router-link to="/counter">Counter</router-link>
      </li>
    </ul>
  </nav>
</template>

<style>
    ul {
        display: flex;
        justify-content: center;
        padding: 0;
        list-style: none;
    }
    li {
        padding: 0 2px;
    }
</style>