<script lang="ts" setup>
import { useCounterStore } from '../stores/counter';
import { Button } from "ui";

const counterStore = useCounterStore();

</script>
<template>
    <h1>
        Home view {{ counterStore.counter }}
    </h1>
    <h3>Numero de cambios {{ counterStore.numberOfChanges }}</h3>

    <Button />
</template>
